<div class="wrapper">

  <section class="section">
    <div class="container" style="margin-top: 3em">
      <div class="row ">
        <div class="col-md-12">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="text-center">Buscar Hotel/Habitación</h1>
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <form [formGroup]="formSearchHotel" class="form">
                  <div formGroupName="data">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Fecha de entrada </label>
                          <input  bsDatepicker name="fecha_entrada" formControlName="fecha_entrada" class="form-control" autocomplete="off"
                                  data-datepicker-color="success" [bsConfig]="{ isAnimated: true, containerClass: 'theme-red', dateInputFormat: 'DD/MM/YYYY', minDate: date }"
                                  [bsValue]="date" id="datepicker" type="text" />
                        </div>
                        <div *ngIf="formSearchHotel.get('data.fecha_entrada').errors?.required" class="text-danger">
                          Ingrese la fecha de entrada.
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Fecha de salida </label>
                          <input  bsDatepicker name="fecha_salida" formControlName="fecha_salida" class="form-control" autocomplete="off"
                                  data-datepicker-color="success" [bsConfig]="{ isAnimated: true, containerClass: 'theme-red', dateInputFormat: 'DD/MM/YYYY', minDate: date }"
                                  [bsValue]="date" id="datepicker2" type="text" />
                        </div>
                        <div *ngIf="formSearchHotel.get('data.fecha_salida').errors?.required" class="text-danger">
                          Ingrese la fecha de salida.
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Cantidad de personas </label>
                          <input class="form-control" type="number" name="cant_personas" formControlName="cant_personas" />
                        </div>
                        <div *ngIf="formSearchHotel.get('data.cant_personas').errors?.required" class="text-danger">
                          Ingrese la cantidad de personas.
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Ciudad </label>
                          <select name="ciudad" formControlName="ciudad" class="form-control" >
                            <option class="text-black-50" value="cali">Cali</option>
                            <option class="text-black-50" value="bogota">Bogotá</option>
                            <option class="text-black-50" value="medellin">Medellín</option>
                          </select>
                        </div>
                        <div *ngIf="formSearchHotel.get('data.ciudad').errors?.required" class="text-danger">
                          Ingrese la ciudad.
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button class="btn btn-success btn-round" placement="right" [disabled]="(!formSearchHotel.valid)" (click)="searchHotel()">
                        Buscar
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-12" style="margin-top: 3em">
                <div *ngIf="rooms">
                  <div class="row">
                    <div class="col-md-3" *ngFor="let room of rooms">
                    <div class="card">
                      <div *ngIf="room.imagen" class="imagen_container">
                        <img class="card-img-top room_imagen" src="{{ global.urlImage + room.imagen }}" style="width:100%;">
                      </div>
                      <div *ngIf="!room.imagen">
                        <div class="imagen_relleno"></div>
                      </div>
                      <div class="card-body">
                        <h4>Hotel: <b>{{ room.nombre }}</b></h4>
                        <ul>
                          <li>Habitación: <b>{{ room.identificador }}</b></li>
                          <li>Tipo de habitación: <b>{{ room.tipo_habitacion }}</b></li>
                          <li>Cantidad de personas maxima: <b>{{ room.cant_personas }}</b></li>
                          <li>Precio por noche: <b>${{ room.costo_base + (room.costo_base * (room.impuesto/100)) }}</b></li>
                        </ul>

                        <div class="text-right">
                          <button class="btn btn-info btn-tooltip btn-sm mr-1"
                                  data-animation="true"
                                  data-container="body"
                                  placement="top"
                                  tooltip="Reservar habitación"
                                  (click)="reserve(room.cod_hotel, room.cod_habitacion)"
                                  type="button">
                            <i class="fas fa-check-square"></i>
                          </button>
                        </div>

                      </div>
                    </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
