<div class="wrapper">

  <section class="section">
    <div class="container" style="margin-top: 3em">
      <div class="row ">
        <div class="col-md-6">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="text-center">Modificar Hotel <em>{{ hotel.nombre }}</em></h1>
            </div>
            <div class="card-body">
              <form [formGroup]="formUpdateHotel" class="form">
                <div formGroupName="data">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label> Nombre </label>
                        <input class="form-control" type="text" name="nombre" formControlName="nombre" />
                      </div>
                      <div *ngIf="formUpdateHotel.get('data.nombre').errors?.required" class="text-danger">
                        Ingrese el nombre.
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label> Ciudad </label>
                        <select name="ciudad" formControlName="ciudad" class="form-control" >
                          <option class="text-black-50" value="cali">Cali</option>
                          <option class="text-black-50" value="bogota">Bogotá</option>
                          <option class="text-black-50" value="medellin">Medellín</option>
                        </select>
                      </div>
                      <div *ngIf="formUpdateHotel.get('data.ciudad').errors?.required" class="text-danger">
                        Ingrese la ciudad.
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label> Cantidad de pisos </label>
                        <input class="form-control" type="number" name="cant_pisos" formControlName="cant_pisos"/>
                      </div>
                      <div *ngIf="formUpdateHotel.get('data.cant_pisos').errors?.required" class="text-danger">
                        Ingrese la cantidad de pisos.
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-danger btn-round" placement="right" [routerLink]="['/listHotel']" >
                    Atras
                  </button>
                  <button class="btn btn-success btn-round float-right" placement="right" [disabled]="(!formUpdateHotel.valid)" (click)="updateHotel()">
                    Actualizar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto">
            <div class="row justify-content-between align-items-center">
              <carousel [showIndicators]="true">
                <slide>
                  <img
                          alt="First slide"
                          class="d-block"
                          src="assets/img/denys.jpg"
                  />

                  <div class="carousel-caption d-none d-md-block">
                    <h5>Big City Life, United States</h5>
                  </div>
                </slide>
                <slide>
                  <img
                          alt="Second slide"
                          class="d-block"
                          src="assets/img/fabien-bazanegue.jpg"
                  />

                  <div class="carousel-caption d-none d-md-block">
                    <h5>Somewhere Beyond, United States</h5>
                  </div>
                </slide>
                <slide>
                  <img
                          alt="Third slide"
                          class="d-block"
                          src="assets/img/mark-finn.jpg"
                  />

                  <div class="carousel-caption d-none d-md-block">
                    <h5>Stocks, United States</h5>
                  </div>
                </slide>
              </carousel>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>
