<div class="wrapper">

  <section class="section">
    <div class="container" style="margin-top: 3em">
      <div class="row ">
        <div class="col-md-6">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="text-center">Registrar Habitación al hotel <em>{{ hotel.nombre }}</em></h1>
            </div>
            <div class="card-body">
              <form [formGroup]="formCreateRoom" class="form">
                <div formGroupName="data">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Identificador </label>
                      <input class="form-control" type="text" name="identificador" formControlName="identificador" />
                    </div>
                    <div *ngIf="formCreateRoom.get('data.identificador').errors?.required" class="text-danger">
                      Ingrese el Identificador.
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Costo Base </label>
                      <input class="form-control" type="number" name="costo_base" formControlName="costo_base" />
                    </div>
                    <div *ngIf="formCreateRoom.get('data.costo_base').errors?.required" class="text-danger">
                      Ingrese el Costo Base.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Impuesto </label>
                      <input class="form-control" type="number" name="impuesto" formControlName="impuesto"/>
                    </div>
                    <div *ngIf="formCreateRoom.get('data.impuesto').errors?.required" class="text-danger">
                      Ingrese el Impuesto.
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Tipo de Habitación </label>
                      <select name="tipo_habitacion" formControlName="tipo_habitacion" class="form-control" >
                        <option class="text-black-50" value="individual">Individual</option>
                        <option class="text-black-50" value="doble">Doble</option>
                        <option class="text-black-50" value="triple">Triple</option>
                        <option class="text-black-50" value="quad">Quad</option>
                        <option class="text-black-50" value="mini-suite">Mini-Suite</option>
                        <option class="text-black-50" value="master suite">Master Suite</option>
                      </select>
                    </div>
                    <div *ngIf="formCreateRoom.get('data.tipo_habitacion').errors?.required" class="text-danger">
                      Ingrese el Tipo de Habitación.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Cantidad de personas </label>
                      <input class="form-control" type="number" name="cant_personas" formControlName="cant_personas"/>
                    </div>
                    <div *ngIf="formCreateRoom.get('data.cant_personas').errors?.required" class="text-danger">
                      Ingrese la Cantidad de personas.
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Ubicación </label>
                      <textarea class="form-control" name="ubicacion" formControlName="ubicacion">
                      </textarea>
                    </div>
                    <div *ngIf="formCreateRoom.get('data.ubicacion').errors?.required" class="text-danger">
                      Ingrese la Ubicación.
                    </div>
                  </div>
                </div>
                <button class="btn btn-danger btn-round" placement="right" [routerLink]="['/listRoom', cod_hotel]" >
                  Atras
                </button>
                <button class="btn btn-success btn-round float-right" placement="right" [disabled]="(!formCreateRoom.valid)" (click)="createRoom()">
                  Registrar
                </button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto">
            <div class="row justify-content-between align-items-center">
              <carousel [showIndicators]="true">
                <slide>
                  <img
                          alt="First slide"
                          class="d-block"
                          src="assets/img/denys.jpg"
                  />

                  <div class="carousel-caption d-none d-md-block">
                    <h5>Big City Life, United States</h5>
                  </div>
                </slide>
                <slide>
                  <img
                          alt="Second slide"
                          class="d-block"
                          src="assets/img/fabien-bazanegue.jpg"
                  />

                  <div class="carousel-caption d-none d-md-block">
                    <h5>Somewhere Beyond, United States</h5>
                  </div>
                </slide>
                <slide>
                  <img
                          alt="Third slide"
                          class="d-block"
                          src="assets/img/mark-finn.jpg"
                  />

                  <div class="carousel-caption d-none d-md-block">
                    <h5>Stocks, United States</h5>
                  </div>
                </slide>
              </carousel>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>
