<nav
        class="navbar navbar-expand-lg fixed-top navbar-transparent"
        color-on-scroll="100"
        id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/home']">
        <span> HotelApp• </span>
      </a>
      <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">

      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> HotelApp• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
                    aria-controls="navigation-index"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    [attr.aria-expanded]="!isCollapsed"
                    (click)="isCollapsed = !isCollapsed"
                    id="navigation"
                    type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav" >
        <li class="dropdown nav-item" dropdown *ngIf="userData.cod_perfil == 1">
          <a class="dropdown-toggle nav-link"
             data-toggle="dropdown"
             dropdownToggle
             href="javascript:void(0)" >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Gestionar Hotel
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="['/listHotel']">
              <i class="fas fa-eye"></i> Ver Hoteles
            </a>
            <a class="dropdown-item" [routerLink]="['/createHotel']">
              <i class="fas fa-plus"></i> Registrar Hotel
            </a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="userData.cod_perfil == 1">
        <li class="dropdown nav-item" dropdown>
          <a class="dropdown-toggle nav-link"
             data-toggle="dropdown"
             dropdownToggle
             href="javascript:void(0)" >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Gestionar Reserva
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="['/listReserve']">
              <i class="fas fa-eye"></i> Ver Reservas
            </a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="userData.cod_perfil == 2">
        <li class="dropdown nav-item" dropdown>
          <a class="dropdown-toggle nav-link"
             data-toggle="dropdown"
             dropdownToggle
             href="javascript:void(0)" >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Reservar
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="['/searchRoom']">
              <i class="fas fa-eye"></i> Realizar reserva
            </a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
             href="javascript:void(0)" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu >
            <a class="dropdown-item" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i> Cerrar sesión
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
