<div class="wrapper">

  <section class="section">
    <div class="container" style="margin-top: 3em">
      <div class="row ">
        <div class="col-md-6">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="text-center">Registrar Reserva</h1>
            </div>
            <div class="card-body">
              <form [formGroup]="formCreateReserve" class="form">
                <div formArrayName="persons" *ngFor="let item of formCreateReserve.get('persons')['controls']; let i = index;">
                  <div [formGroupName]="i">
                    <h3>Datos de la persona {{ i +1 }}</h3>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Nombre </label>
                          <input class="form-control" type="text" name="nombre" formControlName="nombre" />
                        </div>
                        <div *ngIf="formCreateReserve.get('persons')['controls'][i].get('nombre').errors?.required" class="text-danger">
                          Ingrese el nombre.
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Apellido </label>
                          <input class="form-control" type="text" name="apellido" formControlName="apellido" />
                        </div>
                        <div *ngIf="formCreateReserve.get('persons')['controls'][i].get('apellido').errors?.required" class="text-danger">
                          Ingrese el apellido.
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Fecha de nacimiento </label>
                          <input  bsDatepicker name="fecha_nacimiento" formControlName="fecha_nacimiento" class="form-control" autocomplete="off"
                                  data-datepicker-color="success" [bsConfig]="{ isAnimated: true, containerClass: 'theme-red', dateInputFormat: 'DD/MM/YYYY', maxDate: date }"
                                  [bsValue]="date" type="text" />
                        </div>
                        <div *ngIf="formCreateReserve.get('persons')['controls'][i].get('fecha_nacimiento').errors?.required" class="text-danger">
                          Ingrese el fecha de nacimiento.
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Género </label>
                          <select name="genero" formControlName="genero" class="form-control" >
                            <option class="text-black-50" value="masculino">Masculino</option>
                            <option class="text-black-50" value="femenino">Femenino</option>
                          </select>
                        </div>
                        <div *ngIf="formCreateReserve.get('persons')['controls'][i].get('genero').errors?.required" class="text-danger">
                          Ingrese el género.
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Tipo de documento </label>
                          <select name="tipo_documento" formControlName="tipo_documento" class="form-control" >
                            <option class="text-black-50" value="cedula">Cédula</option>
                            <option class="text-black-50" value="tarjeta_identidad">Tarjeta de identidad</option>
                          </select>
                        </div>
                        <div *ngIf="formCreateReserve.get('persons')['controls'][i].get('tipo_documento').errors?.required" class="text-danger">
                          Ingrese el tipo de documento.
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Número de documento </label>
                          <input class="form-control" type="number" name="num_documento" formControlName="num_documento" />
                        </div>
                        <div *ngIf="formCreateReserve.get('persons')['controls'][i].get('num_documento').errors?.required" class="text-danger">
                          Ingrese el número de documento.
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Correo electrónico </label>
                          <input class="form-control" type="email" name="email" formControlName="email" />
                        </div>
                        <div *ngIf="formCreateReserve.get('persons')['controls'][i].get('email').errors?.required" class="text-danger">
                          Ingrese el correo electrónico.
                        </div>
                        <div *ngIf="formCreateReserve.get('persons')['controls'][i].get('email').errors?.pattern" class="text-danger">
                          Ingrese un correo válido.
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Teléfono </label>
                          <input class="form-control" type="number" name="telefono" formControlName="telefono" />
                        </div>
                        <div *ngIf="formCreateReserve.get('persons')['controls'][i].get('telefono').errors?.required" class="text-danger">
                          Ingrese el teléfono.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-top: 2em">
                  <h3>Datos de contacto de emergencia</h3>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Nombre completo </label>
                      <input class="form-control" type="text" name="contacto_nombreCom" formControlName="contacto_nombreCom" />
                    </div>
                    <div *ngIf="formCreateReserve.get('contacto_nombreCom').errors?.required" class="text-danger">
                      Ingrese el nombre completo.
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Teléfono </label>
                      <input class="form-control" type="number" name="contacto_telefono" formControlName="contacto_telefono" />
                    </div>
                    <div *ngIf="formCreateReserve.get('contacto_telefono').errors?.required" class="text-danger">
                      Ingrese el teléfono.
                    </div>
                  </div>
                </div>

                <button class="btn btn-danger btn-round" placement="right" (click)="goBack()" >
                  Cancelar
                </button>
                <button class="btn btn-success btn-round float-right" placement="right" [disabled]="(!formCreateReserve.valid)" (click)="createReserve()">
                  Registrar
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto">
            <div class="row justify-content-between align-items-center">
              <carousel [showIndicators]="true">
                <slide>
                  <img
                          alt="First slide"
                          class="d-block"
                          src="assets/img/denys.jpg"
                  />

                  <div class="carousel-caption d-none d-md-block">
                    <h5>Big City Life, United States</h5>
                  </div>
                </slide>
                <slide>
                  <img
                          alt="Second slide"
                          class="d-block"
                          src="assets/img/fabien-bazanegue.jpg"
                  />

                  <div class="carousel-caption d-none d-md-block">
                    <h5>Somewhere Beyond, United States</h5>
                  </div>
                </slide>
                <slide>
                  <img
                          alt="Third slide"
                          class="d-block"
                          src="assets/img/mark-finn.jpg"
                  />

                  <div class="carousel-caption d-none d-md-block">
                    <h5>Stocks, United States</h5>
                  </div>
                </slide>
              </carousel>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>
