<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-3 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <form [formGroup]="formLogin" class="form">
              <div formGroupName="data">
                <div class="card card-register">
                  <div class="card-header text-center">
                    <img alt="Card image" class="card-img" src="assets/img/square1-red.png"/>
                    <h3 class="card-title text-white">Iniciar sesión</h3>
                  </div>
                  <div class="card-body">
                    <div class="input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-email-85"> </i>
                        </div>
                      </div>
                      <input class="form-control" placeholder="Email" type="text" name="email" formControlName="email" (focus)="focus1 = true" (blur)="focus1 = false"/>
                    </div>
                    <div *ngIf="formLogin.get('data.email').errors?.required" class="text-danger">
                      Ingrese el correo electronico.
                    </div>
                    <div *ngIf="formLogin.get('data.email').errors?.pattern" class="text-danger">
                      Ingrese un correo válido.
                    </div>
                    <div class="input-group" [ngClass]="{ 'input-group-focus': focus2 === true }" >
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-lock-circle"> </i>
                        </div>
                      </div>
                      <input class="form-control" placeholder="Contraseña" type="password" name="password" formControlName="password" (focus)="focus2 = true" (blur)="focus2 = false"/>
                    </div>
                    <div *ngIf="formLogin.get('data.password').errors?.required" class="text-danger">
                      Ingrese la contraseña.
                    </div>

                  </div>
                  <div class="card-footer text-center">
                    <button class="btn btn-success btn-round btn-lg" (click)="onSubmit()" [disabled]="(!formLogin.valid)">Iniciar sesión</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
      </div>
    </div>
  </div>
</div>
