<div class="wrapper">

  <section class="section">
    <div class="container" style="margin-top: 3em">
      <div class="row ">
        <div class="col-md-12">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="text-center">Habitaciones del hotel <em>{{ hotel.nombre }}</em></h1>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="offset-md-10">
                  <button class="btn btn-danger btn-tooltip btn-sm mr-1"
                          data-animation="true"
                          data-container="body"
                          placement="top"
                          tooltip="Atras"
                          [routerLink]="['/listHotel']"
                          type="button">
                    <i class="fas fa-arrow-circle-left"></i>
                  </button>
                  <button class="btn btn-info btn-tooltip btn-sm mr-1"
                          data-animation="true"
                          data-container="body"
                          placement="top"
                          tooltip="Crear Habitación"
                          [routerLink]="['/createRoom', cod_hotel]"
                          type="button">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <table id="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                <tr>
                  <th>Identificador</th>
                  <th>Estado</th>
                  <th>Costo Base</th>
                  <th>Impuesto</th>
                  <th>Tipo Habitación</th>
                  <th>Ubicación</th>
                  <th>Cantidad Personas</th>
                  <th>Fecha Creación</th>
                  <th>Fecha Actulización</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody *ngIf="rooms?.length != 0">
                <tr *ngFor="let room of rooms">
                  <td>{{ room.identificador }}</td>
                  <td>{{ (room.estado == 1 ? 'Activo' : 'Inactivo') }}</td>
                  <td>{{ room.costo_base }}</td>
                  <td>{{ room.impuesto }}</td>
                  <td>{{ room.tipo_habitacion }}</td>
                  <td>{{ room.ubicacion }}</td>
                  <td>{{ room.cant_personas }}</td>
                  <td>{{ room.fec_creacion }}</td>
                  <td>{{ room.fec_actualiza }}</td>
                  <td>
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox"
                             [checked]="room.estado"
                             (change) = "activeRoom($event, room.cod_habitacion)"
                             data-animation="true"
                             data-container="body"
                             placement="top"
                             tooltip="Activar/Desactivar Hotel" />
                      <button class="btn btn-info btn-tooltip btn-sm mr-1"
                              data-animation="true"
                              data-container="body"
                              placement="top"
                              tooltip="Modificar habitación"
                              [routerLink]="['/updateRoom', room.cod_habitacion, room.cod_hotel]"
                              type="button">
                        <i class="fas fa-edit"></i>
                      </button>
                    </label>
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="rooms?.length == 0">
                <tr>
                  <td colspan="10" class="dataTables_empty">No hay datos para mostrar!</td>
                </tr>
                <tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
