<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">HotelApp•</h1>
        <h3>
          Una forma rápida y fácil de reservar una habitación en tu hotel de preferencia.
        </h3>
      </div>
    </div>
  </div>

</div>
