<div class="wrapper">

  <section class="section">
    <div class="container" style="margin-top: 3em">
      <div class="row ">
        <div class="col-md-12">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="text-center">Lista de Hoteles registrados</h1>
            </div>
            <div class="card-body">

              <table id="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Ciudad</th>
                  <th>Estado</th>
                  <th>Cantidad Pisos</th>
                  <th>Fecha Creación</th>
                  <th>Fecha Actulización</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody *ngIf="hotels?.length != 0">
                <tr *ngFor="let hotel of hotels">
                  <td>{{ hotel.nombre }}</td>
                  <td>{{ hotel.ciudad }}</td>
                  <td>{{ (hotel.estado == 1 ? 'Activo' : 'Inactivo') }}</td>
                  <td>{{ hotel.cant_pisos }}</td>
                  <td>{{ hotel.fec_creacion }}</td>
                  <td>{{ hotel.fec_actualiza }}</td>
                  <td>
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox"
                             [checked]="hotel.estado"
                             (change) = "activeHotel($event, hotel.cod_hotel)"
                             data-animation="true"
                             data-container="body"
                             placement="top"
                             tooltip="Activar/Desactivar Hotel" />
                      <button class="btn btn-warning btn-tooltip btn-sm mr-1"
                              data-animation="true"
                              data-container="body"
                              placement="top"
                              tooltip="Ver habitaciones"
                              [routerLink]="['/listRoom', hotel.cod_hotel]"
                              type="button">
                        <i class="fas fa-person-booth"></i>
                      </button>
                      <button class="btn btn-info btn-tooltip btn-sm mr-1"
                              data-animation="true"
                              data-container="body"
                              placement="top"
                              tooltip="Modificar hotel"
                              [routerLink]="['/updateHotel', hotel.cod_hotel]"
                              type="button">
                        <i class="fas fa-edit"></i>
                      </button>
                    </label>
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="hotels?.length == 0">
                  <tr>
                    <td colspan="7" class="dataTables_empty">No hay datos para mostrar!</td>
                  </tr>
                <tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
