<div class="wrapper">

  <section class="section">
    <div class="container" style="margin-top: 3em">
      <div class="row ">
        <div class="col-md-12">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="text-center">Lista de Reservas registradas</h1>
            </div>
            <div class="card-body">

              <table id="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                <tr>
                  <th>Fecha de entrada</th>
                  <th>Fecha de salida</th>
                  <th>Cantidad de personas</th>
                  <th>Estado</th>
                  <th>Fecha Creación</th>
                  <th>Fecha Actulización</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody *ngIf="reserves?.length != 0">
                <tr *ngFor="let reserve of reserves">
                  <td>{{ reserve.fecha_entrada }}</td>
                  <td>{{ reserve.fecha_salida }}</td>
                  <td>{{ reserve.cant_personas }}</td>
                  <td>{{ reserve.estado }}</td>
                  <td>{{ reserve.fec_creacion }}</td>
                  <td>{{ reserve.fec_actualiza }}</td>
                  <td>
                      <button class="btn btn-info btn-tooltip btn-sm mr-1"
                              data-animation="true"
                              data-container="body"
                              placement="top"
                              tooltip="Ver detalle de la reserva"
                              (click)="openModal(reserve.cod_reserva); lgModal.show()"
                              type="button">
                        <i class="fas fa-eye"></i>
                      </button>
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="reserves?.length == 0">
                <tr>
                  <td colspan="7" class="dataTables_empty">No hay datos para mostrar!</td>
                </tr>
                <tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
         role="dialog" aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title pull-left">Detalle de la reserva N° <b>{{ cod_reserva }}</b></h3>
            <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 class="text-black-50">Información del Hotel:</h4>
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li class="text-black-50">Nombre: <b>{{ room.hotel?.nombre }}</b></li>
                  <li class="text-black-50">Cantidad de pisos: <b>{{ room.hotel?.cant_pisos }}</b></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <li class="text-black-50">Ciudad: <b>{{ room.hotel?.ciudad }}</b></li>
                </ul>
              </div>
            </div>
            <h4 class="text-black-50">Información de la habitación:</h4>
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li class="text-black-50">Tipo de Habitación: <b>{{ room?.tipo_habitacion }}</b></li>
                  <li class="text-black-50">Cantidad de personas: <b>{{ room?.cant_personas }}</b></li>
                  <li class="text-black-50">Ubicación: <b>{{ room?.ubicacion }}</b></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <li class="text-black-50">Identificador: <b>{{ room?.identificador }}</b></li>
                  <li class="text-black-50">Costo Base: <b>{{ room?.costo_base }}</b></li>
                  <li class="text-black-50">Impuesto: <b>{{ room?.impuesto }}</b></li>
                </ul>
              </div>
            </div>
            <h4 class="text-black-50">Información de los huespedes:</h4>
            <div *ngFor="let guest of guests; let i = index;">
              <p class="text-black-50">Datos de la persona {{ i +1 }}:</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li class="text-black-50">Nombre: <b>{{ guest.nombre }}</b></li>
                    <li class="text-black-50">Apellido: <b>{{ guest.apellido }}</b></li>
                    <li class="text-black-50">Fecha de nacimiento: <b>{{ guest.fecha_nacimiento }}</b></li>
                    <li class="text-black-50">Correo electrónico: <b>{{ guest.email }}</b></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li class="text-black-50">Género: <b>{{ guest.genero }}</b></li>
                    <li class="text-black-50">Tipo de documento: <b>{{ guest.tipo_documento }}</b></li>
                    <li class="text-black-50">Número de documento: <b>{{ guest.num_documento }}</b></li>
                    <li class="text-black-50">Teléfono: <b>{{ guest.telefono }}</b></li>
                  </ul>
                </div>
              </div>
            </div>
            <h4 class="text-black-50">Información de contacto de emergencia:</h4>
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li class="text-black-50">Nombre completo: <b>{{ emergencyContacts.nom_completo }}</b></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <li class="text-black-50">Teléfono: <b>{{ emergencyContacts.telefono }}</b></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn float-right btn-round btn-danger" (click)="lgModal.hide()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


  </section>
</div>
