<div class="wrapper">

  <section class="section">
    <div class="container" style="margin-top: 3em">
      <div class="row ">
        <div class="col-md-6">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="text-center">Modificar Reserva</h1>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Nombre </label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Ciudad </label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Cantidad de pisos </label>
                      <input class="form-control" type="number" />
                    </div>
                  </div>
                </div>
                <button class="btn btn-danger btn-round float-right" placement="right" type="submit">
                  Registrar
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto">
            <div class="row justify-content-between align-items-center">
              <carousel [showIndicators]="true">
                <slide>
                  <img
                          alt="First slide"
                          class="d-block"
                          src="assets/img/denys.jpg"
                  />

                  <div class="carousel-caption d-none d-md-block">
                    <h5>Big City Life, United States</h5>
                  </div>
                </slide>
                <slide>
                  <img
                          alt="Second slide"
                          class="d-block"
                          src="assets/img/fabien-bazanegue.jpg"
                  />

                  <div class="carousel-caption d-none d-md-block">
                    <h5>Somewhere Beyond, United States</h5>
                  </div>
                </slide>
                <slide>
                  <img
                          alt="Third slide"
                          class="d-block"
                          src="assets/img/mark-finn.jpg"
                  />

                  <div class="carousel-caption d-none d-md-block">
                    <h5>Stocks, United States</h5>
                  </div>
                </slide>
              </carousel>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>
